@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <div class="shadow-sm p-3 mb-5 bg-white rounded"><h1 class="display-1">Welcome</h1></div>
    <div class="card-group">
        <div class="card mr-3 mb-5">
            <img src="https://www.gamesrig.com/img/index/far-cry-5-cover.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                <p class="text-right ml-5"><button type="button" class="btn btn-success">Add</button></p>
            </div>
        </div>
        <div class="card mr-3 mb-5">
            <img src="https://www.gamesrig.com/img/index/grand-theft-auto-v-cover.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                <p class="text-right ml-5"><button type="button" class="btn btn-success">Add</button></p>
            </div>
        </div>
        <div class="card mr-3 mb-5">
            <img src="https://www.gamesrig.com/img/index/watch-dogs-2-cover.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                <p class="text-right ml-5"><button type="button" class="btn btn-success">Add</button></p>
            </div>
        </div>

    </div>
    <div class="card-group ">
        <div class="card mr-3 mb-5">
            <img src="https://cdn.game.tv/game-tv-content/images_3/07e71c74484a1cedd92dbc35fa0c0304/GameTile.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                <p class="text-right ml-5"><button type="button" class="btn btn-success">Add</button></p>
            </div>
        </div>
        <div class="card mr-3 mb-5">
            <img src="https://www.gamesrig.com/img/index/monster-hunter-world-cover.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                <p class="text-right ml-5"><button type="button" class="btn btn-success">Add</button></p>
            </div>
        </div>
        <div class="card mr-3 mb-5">
            <img src="https://www.gamesrig.com/img/index/tom-clancys-ghost-recon-wildlands-cover.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                <p class="text-right ml-5"><button type="button" class="btn btn-success">Add</button></p>
            </div>
        </div>

    </div>
    <div class="card-group">
        <div class="card mr-3 mb-5">
            <img src="https://www.gamesrig.com/img/index/tom-clancys-the-division-cover.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                <p class="text-right ml-5"><button type="button" class="btn btn-success">Add</button></p>
            </div>
        </div>
        <div class="card mr-3 mb-5">
            <img src="https://www.gamesrig.com/img/index/doom-cover.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                <p class="text-right ml-5"><button type="button" class="btn btn-success">Add</button></p>
            </div>
        </div>
        <div class="card mr-3 mb-5">
            <img src="https://www.gamesrig.com/img/index/battlefield-1-premium-pass-cover.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                <p class="text-right ml-5"><button type="button" class="btn btn-success">Add</button></p>
            </div>
        </div>

    </div>
    <div class="card-group">
        <div class="card mr-3 mb-5">
            <img src="https://www.gamesrig.com/img/index/just-cause-4-cover.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                <p class="text-right ml-5"><button type="button" class="btn btn-success">Add</button></p>
            </div>
        </div>
        <div class="card mr-3 mb-5">
            <img src="https://media.playstation.com/is/image/SCEA/fall-guys-ultimate-knockout-boxart-01-ps4-23jun20-en-hk?$native_nt$" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                <p class="text-right ml-5"><button type="button" class="btn btn-success">Add</button></p>
            </div>
        </div>
        <div class="card mr-3 mb-5">
            <img src="https://www.gamesrig.com/img/index/overwatch-legendary-edition-cover.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                <p class="text-right ml-5"><button type="button" class="btn btn-success">Add</button></p>
            </div>
        </div>

    </div>
    <div class="card-group">
        <div class="card mr-3 mb-5">
            <img src="https://th-test-11.slatic.net/p/474b0fd02c735df50b5fbec4dd30cbf0.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                <p class="text-right ml-5"><button type="button" class="btn btn-success">Add</button></p>
            </div>
        </div>
        <div class="card mr-3 mb-5">
            <img src="https://images-na.ssl-images-amazon.com/images/I/71cTCvSFJTL._SY500_.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                <p class="text-right ml-5"><button type="button" class="btn btn-success">Add</button></p>
            </div>
        </div>
        <div class="card mr-3 mb-5">
            <img src="https://upload.wikimedia.org/wikipedia/ru/thumb/8/8e/%D0%9E%D0%B1%D0%BB%D0%BE%D0%B6%D0%BA%D0%B0_Dota_2.jpg/266px-%D0%9E%D0%B1%D0%BB%D0%BE%D0%B6%D0%BA%D0%B0_Dota_2.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                <p class="text-right ml-5"><button type="button" class="btn btn-success">Add</button></p>
            </div>
        </div>

    </div>
    <section class="cart_area section_padding">
        <div class="shadow-sm p-3 mb-5 bg-white rounded"><h1 class="display-1">CART</h1></div>
        <div class="container">
            <div class="cart_inner">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Product</th>
                                <th scope="col">Price</th>
                                <th scope="col">Quantity</th>
                                <th scope="col">Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <div class="media">
                                        <div class="d-flex">
                                            <img src="img/arrivel/arrivel_1.png" alt="" />
                                        </div>
                                        <div class="media-body">
                                            <p>Minimalistic shop for multipurpose use</p>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <h5>$360.00</h5>
                                </td>
                                <td>
                                    <div class="product_count">
                                        <!-- <input type="text" value="1" min="0" max="10" title="Quantity:"
      class="input-text qty input-number" />
    <button
      class="increase input-number-increment items-count" type="button">
      <i class="ti-angle-up"></i>
    </button>
    <button
      class="reduced input-number-decrement items-count" type="button">
      <i class="ti-angle-down"></i>
    </button> -->

                                        <span class="input-number-decrement"> <i class="ti-minus"></i></span>
                                        <input class="input-number" type="text" value="1" min="0" max="10">
                                        <span class="input-number-increment"> <i class="ti-plus"></i></span>
                                        <button type="button" class="btn btn-light">-</button>
                                        <button type="button" class="btn btn-light">+</button>
                                 
                                    </div>
                                </td>
                                <td>
                                    <h5>$720.00</h5>
                                </td>
                            </tr>
                </div>
            </div>
        </div>
    </section>

